.buscar{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 20px;
    margin-right: 20px;
}

.swiper-container {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
}

.swiper-slide {
    transition: all 300ms ease-in-out;
    margin: 0 10px;
    cursor: pointer;
    width: 200px !important; 
    border-radius: 10px;
}
.crear {
    width: 80px;
    height: 80px;
    margin-right: 40px;
    margin-top: 30px;
    margin-left: 10px;
    position: relative;
    z-index: 2;
}

.crear:hover {
    transform: scale(1.2);
    transition: all 300ms ease;
}

.desc:hover {
    transition: all 300ms ease-in-out;
}

.swiper-wrapper {
    width: 200px;
    margin-right: 450px;
}

.desc.tv {
    height: 60px;
}

.swiper-slide img {
    cursor: pointer;
    width: 40px !important;
    height: 40px !important;
    object-fit: cover;

}

.swiper-slide:hover {
    border: #ccc 1px solid;
}

.swiper-slide img:active {
    cursor: grabbing;
}

.swiper-slide:hover {
    transform: scale(1);
    transition: all 300ms ease-in-out;
    transition-delay: 300ms;
    z-index: 1;
}

@media screen and (max-width: 599px) {
    .swiper-slide img {
        max-width: 14rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .swiper-slide img {
        max-width: 10.5rem;
        border-radius: 2px;
    }
}