<div class="buscar">
    <button>Buscar</button>
    <input class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Id">
  </div>
  <div class="container px-20 mt-14 mb-20">
      <p class="font-semibold text-2xl my-3 ml-3">Clientes</p>
      <div class="flex"> 
        <div> 
          <button [routerLink]="['/create-client']" class="crear">
            <img src="../../../../assets/plus-symbol-button.png" alt="">
          </button>
        </div>
        <div #swiperContainer class="swiper-container">
          <div class="swiper-wrapper">
            <ng-container *ngFor="let c of clients">
              <a href="javascript:void(0)" (click)="openClientDetails(c.id)"  class="swiper-slide relative p-2">
                <a href=""><img class="m-2" width="40" src="../../../../assets/user.png" alt="" /></a>
                <div class="desc p-2">
                  <span class="flex flex-wrap font-bold">{{c.name}}</span>
                  <p class="text-xs my-3 mb-6">{{ c.direccion }}</p>
                  <div class="py-3 absolute w-[90%] bottom-1">
                    <p class="text-xs flex justify-between items-center">
                      <span class="text-green-500">{{ c.documentId }}</span>
                      <i class="fa fa-2x fa-chevron-circle-down" aria-hidden="true"></i>
                    </p>
                  </div>
                </div>
              </a>
            </ng-container>
          </div>
        </div>
      </div>
  </div>
