<div class="flex justify-between items-center p-2 bg-gray-200">
    <button>Menú</button>
    <div id="menu" class="hidden">
        <ul>
            <li><a href=""></a>Opcion 1</li>
            <li><a href=""></a>Opcion 2</li>
            <li><a href=""></a>Opcion 3</li>
            <li><a href=""></a>Opcion 4</li>
            <li><a href=""></a>Opcion 5</li>
        </ul>
    </div>
    <div class="flex items-center">
        <span class="mr-4">UserName</span>
        <img width="40" src="../../../../assets/user.png" alt="">
    </div>
</div>
