<main class="form">
  <div class=" w-full max-w-xs">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">
          Username
        </label>
        <input [formControl]="userName" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Username">
        <div [hidden]="userName.valid || userName.pristine" class="mt-2 mb-2 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <span class="block sm:inline">El campo de UserName es obligatorio</span>
        </div>
        <label class="block text-gray-700 text-sm font-bold mb-2">
            email
        </label>
        <input [formControl]="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="email" placeholder="Email">
        <div [hidden]="email.valid || email.pristine"  class="mt-2 mb-2 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <span *ngIf="email.errors?.['required']" class="block sm:inline">El Correo es obligatorio</span>
          <span *ngIf="email.errors?.['email']" class="block sm:inline">El Correo no es valido</span>
        </div>
        <label class="block text-gray-700 text-sm font-bold mb-2">
            Cellphone
        </label>
        <input [formControl]="cellphone" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Cellphone">
        <div [hidden]="cellphone.valid || cellphone.pristine" class="mt-2 mb-2 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <span *ngIf="cellphone.errors?.['required']" class="block sm:inline">El numero de telefono es requerido</span>
          <span *ngIf="cellphone.errors?.['pattern']" class="block sm:inline">El numero debe ser de 10 digitos</span>
        </div>
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2">
          Password
        </label>
        <input [formControl]="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="password" placeholder="******************">
        <div [hidden]="password.valid || password.pristine" class="mt-2 mb-2 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <span *ngIf="password.errors?.['required']" class="block sm:inline">La contraseña es obligatoria</span>
          <span *ngIf="password.errors?.['minLength']" class="block sm:inline">La contraseña debe ser al menos de 8 digitos</span>
          <span *ngIf="password.errors?.['pattern']" class="block sm:inline">La contraseña debe contener al menos una letra minúscula, una letra mayúscula, un número y un carácter especial.</span>
        </div>
        <label class="block text-gray-700 text-sm font-bold mb-2">
            Confirm Password
        </label>
        <input class="shadow appearance-none rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="password" placeholder="******************">
        <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="mt-2 mb-2 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <span *ngIf="confirmPassword.errors?.['required']" class="block sm:inline">La contraseña es obligatoria</span>
          <span *ngIf="confirmPassword.errors?.['minLength']" class="block sm:inline">La contraseña debe ser al menos de 8 digitos</span>
          <span *ngIf="confirmPassword.errors?.['pattern']" class="block sm:inline">La contraseña debe contener al menos una letra minúscula, una letra mayúscula, un número y un carácter especial.</span>
        </div>
        <div class="relative">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Rol de usuario
          </label>
          <div>
            <button (click)="toggleMenu()"  type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-100" id="menu-button" aria-expanded="true" aria-haspopup="true">
              {{selectedRole}}
            </button>
          </div>
          <div *ngIf="menuVisible" class="opcions z-10 mt-2 w-56 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
            <div class="py-1" role="none">
              <a (click)="obtenerId(1)" class="cursor-pointer text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100" role="menuitem" tabindex="-1" id="menu-item-0">Admin</a>
              <a (click)="obtenerId(2)" class="cursor-pointer text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100" role="menuitem" tabindex="-1" id="menu-item-1">Supervisor</a>
              <a (click)="obtenerId(3)" class="cursor-pointer text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100" role="menuitem" tabindex="-1" id="menu-item-2">Cobrador</a>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-between">
        <button (click)="crearUsuario()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
          Crear Usuario
        </button>
        <button [routerLink]="['/']" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
          Cerrar
        </button>
      </div>
    </form>
  </div>
</main>


