<main class="form">
    <div class=" w-full max-w-xs">
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Monto del prestamo
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Monto...">
          <div class="mt-2 mb-2 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <span class="hidden block sm:inline">El campo de UserName es obligatorio</span>
          </div>
          <label class="block text-gray-700 text-sm font-bold mb-2">
              Tasa de interes
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="tasa de interes...">
          <div  class="mt-2 mb-2 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <span class="hidden block sm:inline">El Correo es obligatorio</span>
            <span class="hidden block sm:inline">El Correo no es valido</span>
          </div>
          <label class="block text-gray-700 text-sm font-bold mb-2">
              Numero de pagos
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="pagos..">
          <div class="mt-2 mb-2 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <span class="block sm:inline">El numero de telefono es requerido</span>
            <span  class="block sm:inline">El numero debe ser de 10 digitos</span>
          </div>
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Temporalidad
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="temporalidad..">
        <div class="mt-2 mb-2 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <span class="block sm:inline">El numero de telefono es requerido</span>
          <span  class="block sm:inline">El numero debe ser de 10 digitos</span>
        </div>
        <label class="block text-gray-700 text-sm font-bold mb-2">
            Id Usuario O cliente
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Id..">
        <div class="mt-2 mb-2 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <span class="block sm:inline">El numero de telefono es requerido</span>
          <span  class="block sm:inline">El numero debe ser de 10 digitos</span>
        </div>
        </div>
        <div class="flex items-center justify-between">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
            Crear Credito
          </button>
          <button [routerLink]="['/']" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
            Cerrar
          </button>
        </div>
      </form>
    </div>
  </main>
